# See pre-commit.com for documentation.
#
# Some helpful commands:
# - `pre-commit install` to install the hooks.
# - `pre-commit run --all-files --verbose` to run the hooks manually.
# - `git commit -n/--no-verify` to skip the hooks.
# - `pre-commit autoupdate` to update the hooks to the latest version.
# - `pre-commit clean` to clean out cached files.
# - In hooks configurations below with `files` & `exclude` options set: to
#   enumerate all files that will be processed by the hook, run:
#   `git ls-files | grep -E '{files}' | grep -v -E '{exclude}'`
#   where {files} is the regex of files to process, & {exclude} is the regex of
#   files to exclude.

# Exclude `graphite/*` files from all pre-commit hooks. These files,
# annoyingly, get re-formatted every time we use graphite, so they consistently
# break certain hooks, e.g. end-of-file-fixer.
exclude: "^graphite/*"

repos:
  # Pre-commit's built-in collection
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-json
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: no-commit-to-branch
      - id: trailing-whitespace

  # Note for "Shell script formatting" & "Shell script linting" below:
  # Using `types: [text]` instead of `types: [shell, zsh]` because the identify
  # library only tags zsh files as type 'zsh' when executable. Our zsh configs
  # (zshrc, zprofile, etc.) are sourced not executed so should not be made
  # executable. Therefore we use explicit `files` & `exclude` patterns.

  # Shell script formatting
  # Per note above, run this to see what files will be formatted:
  # git ls-files | grep -E '\.(sh|bash)$|^(zsh/.*)$' | grep -v -E '^(dotbot|copilot\.el)/|zsh/README\.md$'
  - repo: https://github.com/scop/pre-commit-shfmt
    rev: v3.12.0-2
    hooks:
      - id: shfmt
        args: [-w, -s, -i, "4"] # Write changes, simplify code, 4-space indent
        types: [text]
        files: '\.(sh|bash)$|^(zsh/.*)$'
        exclude: '^(dotbot|copilot\.el)/|zsh/README\.md$'

  # Shell script linting
  # Per note above, run this to see what files will be formatted:
  # git ls-files | grep -E '\.(sh|bash)$' | grep -v -E '^(dotbot|copilot\.el|zsh)/'
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.11.0.1
    hooks:
      - id: shellcheck
        types: [text]
        # Note: excluding zsh/ files because ShellCheck doesn't support zsh
        files: '\.(sh|bash)$'
        exclude: '^(dotbot|copilot\.el|zsh)/'

  # Prettier
  - repo: https://github.com/rbubley/mirrors-prettier
    rev: "v3.8.1"
    hooks:
      - id: prettier
        types_or: [javascript, json, yaml, css, markdown]
        exclude: '^(dotbot|copilot\.el)/'
